<header>
    <h1 class="title">
        The News Scraper App
    </h1>

    <nav class="navbar">
        <ul class="nav-opts">
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/saved">
                    View Saved
                </a>
            </li>
        </ul>
    </nav>
</header>